
@font-face {
    font-family: 'hello_rotiregular';
    src: url('fonts/hello_roti-webfont.woff2') format('woff2'),
         url('fonts/hello_roti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    position: relative;
    width: 35%;
    height: 100vh;
    overflow: hidden;
}

.BG {
    position: absolute;
    height: 100vh;
    width: 100%;
}



.logoBox {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    top: 25%;
    font-size: 5rem;
    font-family: 'hello_rotiregular', sans-serif;
}

.parrot {
    position: relative;
    width: 200px;
}

.footer {
    position: absolute;
    bottom: 1rem;
    height: 30px;
    color: black;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    overflow: hidden;
}

.info {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    max-inline-size: 66ch;
}

.info p {
    margin-top: 1rem;
}

.formBox {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    gap: 1rem;
    box-shadow: 1px 7px 5px 0px #BEC5DB,
                0px 0px 5px 0px #0A0A0A;
}

.formBox p {
    font-size: 1.5rem;
    font-weight: bold;
}

.form div {
    padding-bottom: 20px;
} 
.form {
    display: flex;
    gap: 90px;
}

input, label {
    display: block;
}

input {
    border:1px, solid, #E5E7EB;
    border-radius: 3px;
}



input:focus {
    border: none;
    border: 1px, solid, rgb(87, 87, 249);
    box-shadow: 0px 1px 5px 0px #000000;
}

input:invalid {
    border-color: red;
  }

  
.bottom {
    padding: 10px;
}

button, .bottom p {
    position: relative;
    left: 2rem;
    padding-top: 20px;
}

.create {
    border: none;
    background-color: #596D48;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 40px;
    box-shadow: 0px 3px 5px 0px #989B99;
}

.logIn {
    position: relative;
    left: 0.5rem;
    border: none;
    background-color: inherit;
    color: green;
    cursor: pointer;
}